<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{creator}}</a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>

          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
      </nav>
  <h1 class="blockquote text-center">
    This page develop by {{creator}}!
  </h1>
  <div class="text-center" style="padding:10px">
    <img class="rounded mx-auto d-block" width="300" src="https://pbs.twimg.com/profile_images/920296170785828864/qfvl4sSw.jpg">
  </div>
  <app-address-list></app-address-list>
</div>