<div class="container">
  <div class="row">
    <div class="input-group">
      <input placeholder="TCNo" class="form-control" type="text" [(ngModel)]="InternationalId" />
      <span class="input-group-btn">
        <button class="btn btn-warning" type="submit" (click)="startSearch()">Gonder</button>
      </span>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>TCNo</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Phone Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="all;else content">
          <td>{{adres.internationalId}}</td>
          <td>{{adres.name}}</td>
          <td>{{adres.surname}}</td>
          <td>{{adres.phonenumber}}</td>
        </tr>
        <ng-template #content>
          <tr *ngFor="let ad of adresler">
            <td>{{ad.internationalId}}</td>
            <td>{{ad.name}}</td>
            <td>{{ad.surname}}</td>
            <td>{{ad.phonenumber}}</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
    <nav aria-label="Page Navigation">
      <ul class="pagination">
        <li *ngFor="let page of pager.pageList" [class.active]="page===pager.currentPage">
          <a style="cursor:pointer;" (click)="setPage(page)">{{page}}</a>
        </li>
      </ul>
    </nav>
  </div>